

header.fhead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center;
    background-color: #6c757d;    
    background-size: cover;
    background-attachment: scroll;
}
@media (min-width: 992px) {
    #mainNav {
      transition: background-color 0.2s;
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
}
#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    font-family: sans-serif, ;
  }   
  @media (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent;
    } 
  }
  
  @media (min-width: 992px) {
    #mainNav {
      transition: background-color 0.2s;
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  
    #mainNav.is-fixed {
      position: fixed;
      top: -83px;
      transition: transform 0.2s;
      border-bottom: 1px solid white;
      background-color: rgba(255, 255, 255, 0.9);
    }
    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
      color: #0085A1;
    }
  } 
.subtitle{
    font-style: italic;
    font-weight: lighter;
}
.first>a {
    color: #212529;
    text-decoration: none;
}
.first>a:focus,
.first>a:hover {
    text-decoration: none;
    color: #0085A1;
}
.second>a {
    color: #212529;
    text-decoration: none;

}
.first>.second {
    font-style: italic;
    color: #6c757d;
 } 

  #fhead {
    position: relative;
    margin-bottom: 48px;
    padding-top: 185px;
    padding-bottom: 225px;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
  }
  
  #fhead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
  }
  .order{
    background-color: rgb(0,133,161);
    color: white;
    border-radius: 0;
    padding: 10px 15px;
    text-decoration: none;
  }
  footer { 
    padding-top: 48px;
    padding-bottom: 48px;
}
  

  
  